In [10]:
import pandas as pd

# Load CSVs from output in other repositories
rfm = pd.read_csv('../data/rfm_segments.csv')
churn = pd.read_csv('../data/churn_predictions.csv')

# Inner join on customer_id to get only customers present in both
# merged = pd.merge(rfm, churn, on='customer_id', how='inner')

# Left join to keep all customers from RFM dataset
merged = pd.merge(rfm, churn, on="customer_id", how="left")


print(f"Total customers in merged dataset: {merged.shape[0]}")
# Export merged dataset for dashboarding
merged.to_csv('../data/master_customer_dataset.csv', index=False)

merged.head()

Total customers in merged dataset: 800

,customer_id,recency,frequency,monetary,r_score,f_score,m_score,rfm_score,segment,churn_probability,churn_predicted,actual_churn,signup_days_ago,last_active_days_ago,num_logins_last_month,avg_session_length,num_support_tickets,is_premium
0,1,106,6,595.85,1,1,1,111,Lost,0.456537,0.0,0.0,849.0,91.0,8.0,22.77,0.0,1.0
1,3,163,7,1617.11,1,1,4,114,Need Attention,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,93,16,1209.94,1,4,3,143,At Risk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,33,11,1299.26,2,2,3,223,Need Attention,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,10,13,1098.63,4,3,3,433,Champions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print(f"Number of customers in RFM dataset: {rfm['customer_id'].nunique()}")
print(f"Number of customers in Churn dataset: {churn['customer_id'].nunique()}")
print(f"Number of customers after merge: {merged['customer_id'].nunique()}")

Number of customers in RFM dataset: 800
Number of customers in Churn dataset: 120
Number of customers after merge: 800